.close{
    font-size: 1.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex-direction: column;
    padding: 1.5rem 0;
    max-width: 100px;
    margin-left: 4rem;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.input-box div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: .2rem;
    flex-direction: column;
}

.input-box label {
    font-weight: 500;
}
.input-box input {
    outline: none;
    border: 1px solid grey;
    border-radius: .3rem;
    padding: .4rem .7rem;
}
.party-group{
    display: flex;
    justify-content: center;
    align-items: centere;
    flex-direction: column;
    gap: .2rem;
}
.party-group #partyGroup{
    outline: none;
    border: 1px solid grey;
    border-radius: .3rem;
    padding: .3rem .5rem;
}

.error {
    color: red;
    font-size: .8rem;
}

.submit-cancel{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}
.submit-cancel button {
    padding: .5rem 1rem;
    border-radius: .4rem;
    margin-top: 1rem;
    outline: none;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
}

.submit-cancel .submit{
    background-color: black;
    color: #fff;
}

.submit-cancel .cancel{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}