.left-side {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    border-right: 1px solid #E0E4EB;
    background: #FFF;
    padding: 0 1.5rem;
}

.logo .main-logo {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.logo .main-logo span {
    color: #b172e8;
}

.logo .sub-logo {
    font-size: .5rem;
}

.parties {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}